body {
  width: 50%;
  align-content: center;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {  
  text-align:  center;
}

.info {
  clear: both;
  width: 100%;
  border: 3px solid CornflowerBlue;
  background-color: yellow;
  border-radius: 5px;
  height: 2.05rem;
}

.circle {
  width: 100%;
  height: 120px;
  margin-top: 5%;
	border: 3px solid CornflowerBlue;
	border-radius: 5px;
}

.time {
  font-size: 1.5rem;
  padding-bottom: 40px;
  margin-left: 5px;
}

.score {
  font-size: 1.5rem;
  float: right;
  margin-right: 5px;
}

.game {
  width: fit-content;
  background-color: yellow;
  padding: 5px;
  display: flex;
}

.hole > img {
  content: url(dirt.svg);
  display: flex;
  width: 75%;
  margin-left: 10px;
  margin-top: -10px;
  visibility: visible; 
}

.mole > img {
  content: url(mole.svg);
  display: flex;
  width: 50%;
  margin-left: 15px;
  padding-top: 20px;
  visibility: hidden;  
}

.gameOver {
  width: 100%;
  font-size: 2rem;
  color: red;
  visibility: collapse;
  margin-left: 5%;
  margin-bottom: 50%;
}

button {
  width: auto;
  height: fit-content;
  font: 1.5em sans-serif;
  background-color:  green;
  margin-top: 18%;
  float: left;
  margin-left: 40%;
}




