body, html {
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .txt, select, form > div, #pause, #play {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
  }

  #pause, #play {
      margin-top: 1em;
      width: 40%;
  }
  
  .txt {
    width: 80%;
  }
  
  select {
    width: 83%;
  }
  
  form > div {
    width: 81%;
  }
  
  .txt, form > div {
    margin-bottom: 10px;
    overflow: auto;
  }
  
  .clearfix {
    clear: both;
  }
  
  label {
    float: left;
    width: 10%;
    line-height: 1.5;
  }
  
  .rate-value, .pitch-value {
    float: right;
    width: 10%;
    line-height: 1.5;
  }
  
  #rate, #pitch {
    float: right;
    width: 75%;
  }
  
  .controls {
    text-align: center;
    margin-top: 10px;
  }
  
  .controls button {
    padding: 10px;
  }
  